.register-container {
  background-color: #e3f2fd; /* Fondo azul claro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px; /* Espaciado entre grupos de formulario */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* Ajustar el margen inferior */
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #1976d2; /* Verde */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-bottom: 10px; /* Espacio entre botones */
}

button:hover {
  background-color: #125699; /* Verde más oscuro */
}

.error-message {
  color: red;
  font-size: 18px;
  margin-top: 18px; /* Espacio superior para el mensaje de error */
}
